/* subscribe.css */
#em-subscribe {
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    float: left;
    position: absolute;
    left: 296px;
    top: 222px;
}